html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.section {
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;
}

.t4sg-color {
  color: #4ce4a9;
}

.title {
  text-align: center;
  margin-top: 2em;
}
.description {
  text-align: center;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
  max-width: 60%;
}